[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rare"]
	path = rare
	url = https://github.com/yanxht/rare
	shallow = true
	registered = true
